{{ template "head.html" "About" }}
{{ template "sidebar.html" . }}

            <!-- About
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="nine columns">
                <h4>This Site</h4>
                <p>This site facilitates learning and vApp deployment for <b>Dakota State University</b>'s <b>DefSec</b> club. C.O.D.Y. was written to be as fast and to-the-point as possible. It is open source.</p>

                <h4>Learning</h4>
                <p>The <code>Learn</code> tab contains interactive, hands-on micro-courses (μCourses?) put together by DSU's Defensive Security Club.</p>

                <h4>Deploying</h4>
                <p>The <code>Deploy</code> tab will deploy a specified vApp to your account. It is a simple alternatve to the IALab's interface.</p>
            </div>

{{ template "footer.html" }}
