{{ template "begin.html" }}
    <title>Compete</title>
{{ template "head.html"}}
            <div class="nine columns">
                <h2>Compete</h2>
            </div>
{{ template "sidebar.html" }}
                {{ $user := .user }}
                <b>{{ $user.Name }}</b><br>
                {{ $user.Score }} points
            <hr>
            </div>

            <!-- Competitions
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="nine columns sectionContainer">
                <!-- Display error
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <div></div>
                {{ if .error }}
                    <div></div>
                    <div class="error">
                        {{ .error }}
                    </div>
                    <br>
                    <div></div>
                {{ end }}
                {{ if not .competitions }}
                <div class="row sectionItem">
                    <div class="twelve columns sectionItemTitle">
                        Everything's quiet at the moment!
                    </div>
                </div>
                {{ end }}
                {{ range $competition := .competitions }}
                    {{ if not $competition.Switch }}
                    <div class="row sectionItem">
                        <div class="two columns noPad" title="King of the Hill">
                            {{ if eq $competition.Kind "koth" }}
                                <i data-feather="shield"></i>
                            {{ end }}
                            {{ if eq $competition.Kind "other" }}
                                other icon
                            {{ end }}
                        </div>
                        <a href="/compete/{{ $competition.Title }}">
                            <div class="eight columns sectionItemTitle">
                                {{ $competition.Title }}
                            </div>
                        </a>
                        <a href="/compete/{{ $competition.Title }}/join">
                            <div class="two columns noPad">
                                <i data-feather="user-plus"></i>
                            </div>
                        </a>
                    </div>
                    {{ end }}
                {{ end }}
            </div>

{{ template "footer.html" }}
