{{ template "begin.html" }}
    <title>Deploy</title>
    <script src="/assets/jquery.min.js"></script>
{{ template "head.html"}}
            <div class="nine columns">
                <h2>Deploy vApp</h2>
            </div>
{{ template "sidebar.html" }}
                {{ $user := .user }}
                <b>{{ $user.Name }}</b><br>
                {{ $user.Score }} points
            <hr>
            </div>

            <!-- Deployment box
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="nine columns sectionContainer">

                <!-- Display error
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if .error }}
                    <div class="error">
                        {{ .error }}
                    </div>
                    <br>
                {{ end }}

                <!-- Display message
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if .msg }}
                    <div class="msg">
                        {{ .msg }}
                    </div>
                    <br>
                {{ end }}

              <label for="vapp">vApp Name</label>
              <form id="deployForm">
                  <input class="u-full-width" type="text" placeholder="BH2014-MalwareVM" id="vappName" required pattern="[a-zA-Z0-9\-]+" name="vapp">
                  <input class="button-primary" type="submit" id="deployButton" value="Deploy to {{ $user.Name }}">
              </form>
            </div>

            alternatively, if box is deployed, power it on and give the ips

            <script>
                url = 'ws://localhost:8080/deploy/ws';
                c = new WebSocket(url);

                $("#deployForm").submit(function (e) {
                    e.preventDefault();
                    vapp = $("#vappName").val();
                    c.send(vapp);
                    $("#deployButton").attr("value", "Working");
                    $("#deployButton").attr("onclick", "");

                })

                c.onmessage = function(msg){
                    $("#deployButton").attr("value", msg.data)
                }
            </script>

{{ template "footer.html" }}
