{{ template "begin.html" }}
    <title>Deploy</title>
    <script src="/assets/jquery.min.js"></script>
{{ template "head.html"}}
            <div class="nine columns">
                <h2>Deploy vApp</h2>
            </div>
{{ template "sidebar.html" }}
                {{ $user := .user }}
                Logged in as:<br>
                <b>{{ $user.Name }}</b><br>
            <hr>
            </div>

            <!-- Deployment box
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="nine columns sectionContainer">

                <!-- Display error
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if .error }}
                    <div class="error">
                        {{ .error }}
                    </div>
                    <br>
                {{ end }}

                <!-- Display message
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if .msg }}
                    <div class="msg">
                        {{ .msg }}
                    </div>
                    <br>
                {{ end }}

              <label for="vapp">vApp Name</label>
              <form id="deployForm">
                  <input class="u-full-width" type="text" placeholder="BH2014-MalwareVM" id="vappName" required pattern="[a-zA-Z0-9\-]+" name="vapp">
                  <input class="button-primary" type="submit" id="deployButton" value="Deploy to {{ $user.Name }}">
              </form>

                <h4 id="ipHeader">IP Addresses</h4>
                <div id="ipBox"></div>
            </div>

            <script>

                url = 'ws://' + site + '/deploy/ws';
                c = new WebSocket(url);
                $("#ipHeader").hide()
                clientMessage = ""

                c.onmessage = (msg) => {
                    defaultMsg(msg);
                }

                function defaultMsg(msg) {
                    $("#deployButton").attr("value", msg.data)
                    if (msg.data == "ips") {
                        $("#deployButton").attr("value", "Ready")
                        c.onmessage = (msg) => {
                            getIPs(msg);
                        }
                        $("#deployButton").attr("value", "Suspend")
                        clientMessage = "Suspend VAPP_ID_HERE"
                    }
                }

                function getIPs(msg) {
                    $("#ipHeader").toggle();
                    ipString = ""
                    ipData = msg.data.split(",")
                    for (var i = 0; i < ipData.length; i++) {
                        ipString += ipData[i] + "<br>"
                    }
                    $("#ipBox").html(ipString);
                    c.onmessage = (msg) => {
                        defaultMsg(msg);
                    }
                }

                $("#deployForm").submit(function (e) {
                    e.preventDefault();
                    if clientMessage == "" {
                        clientMessage = $("#vappName").val();
                    }
                    c.send(clientMessage);
                })

            </script>

{{ template "footer.html" }}
