{{ template "begin.html" }}
    <title>Leaderboard</title>
{{ template "head.html"}}
            <div class="nine columns">
                <h2>Leaderboard</h2>
            </div>
{{ template "sidebar.html" }}
                {{ $user := .user }}
                <b>{{ $user.Name }}</b><br>
                {{ $user.Score }} points
            <hr>
            </div>

            <!-- Leaderboard
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="nine columns sectionContainer">
                <div></div>
                {{ if not .leaderboard }}
                <div class="row sectionItem">
                    <div class="six columns sectionItemTitle">
                        Nobody's done anything yet!
                    </div>
                </div>
                {{ end }}
                {{ range $player := .leaderboard }}
                <div class="row sectionItem">
                    <div class="nine columns" id="leaderboardItem"> {{ $player.Name }}</div>
                    <div class="three columns"> {{ $player.Score }}</div>
                </div>
                {{end}}
            </div>

{{ template "footer.html" }}
