{{ template "head.html" "Learn" }}
{{ template "sidebar.html" . }}

            <!-- Search box
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div class="nine columns sectionContainer">

                <!-- Display error
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if .error }}
                    <div class="error">
                        {{ .error }}
                    </div>
                    <br>
                {{ end }}

                <form>
                  <label for="lesson">Lesson Identifier or Title</label>
                  <input class="u-full-width" type="text" placeholder="ex., DL101 or CLI Usage" id="lesson">
                </form>

                <!-- Available Lessons
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if not .lessons }}
                <div class="row sectionItem">
                    <div class="twelve columns sectionItemTitle">
                        No lessons are out at the moment!
                    </div>
                </div>
                {{ end }}
                <div class="row">
                {{ range $lesson := .lessons }}
                    <div class="three columns sectionItem">
                        <div class="row">
                            <a href="/learn/{{ $lesson.Id }}">
                            {{ $lesson.Id }}
                            </a>
                            {{ $lesson.Title }}
                        </div>
                    </div>
                {{ end }}
                </div>
                <br>
            </div>

            <!-- Search script
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		    <script src="/assets/jquery.min.js"></script>
            <script>
            $(document).ready(function(){
              $("#lesson").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".sectionItem").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value.trim()) > -1)
                });
              });
            });
            </script>

{{ template "footer.html" }}
