        <!-- Sidebar
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="row">
            <div class="three columns">
                <div id="sideNav">
                    <a href="/learn"><div>Learn</div></a>
                    <a href="/deploy"><div>Deploy</div></a>
                    {{ if .admin }}
                    <a href="/settings"><div>Settings</div></a>
                    {{ end }}
                </div>
                <hr>
                {{ .user }}
                <a href="/logout" style="text-decoration: none"><div>Logout</div></a>

            <hr>
            </div>
