        </div>

        <!-- Sidebar
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="row">
            <div class="three columns">
                <div id="sideNav">
                    <a href="/compete"><div>Compete</div></a>
                    <a href="/learn"><div>Learn</div></a>
                    <a href="/deploy"><div>Deploy</div></a>
                    <a href="/leaderboard"><div>Leaderboard</div></a>
                    <a href="/about"><div>About</div></a>
                    <a href="/logout"><div>Logout</div></a>
                </div>
                <hr>
